  /* color names */
  --DeepSpaceBlue: #1C2C40;
  --DeepSpaceBlue10L: #36465A;
  --DeepSpaceBlue10D: #031327;
  --DeepSpaceBlue20D: #00000D;
  --PaleYellowWhite: #FFF7D6;
  --PaleYellowWhite10L: #FFFFF0;
  --PaleYellowWhite10D: #E6DEBD;
  --PaleYellowWhite20D: #CCC4A3;
  --PaleYellowWhite30D: #B3AB8A;
  --PaleYellowWhite40D: #999170;
  --PaleYellowWhite50D: #807857;
  --LightOrange: #FFC244;
  --LimeGreen1: #66EBB9;
  --LightSkyBlue: #74E1FF;
  --LightSkyBlue10L: #8EFBFF;
  --LightSkyBlue20L: #A7FFFF;
  --LightSkyBlue10D: #5BC8E6;
  --LightSkyBlue50D: #006280;
  --LimeGreen: #5BF3CB;
  --LimeGreen50D: #00744C;
  --LightLemon: #FFFF8E;
  --LightLemon50D: #80800F;
  --YellowOrange: #F3CC5B;
  --YellowOrange10L: #FFE675;
  --YellowOrange20L: #FFFF8E;
  --YellowOrange30L: #FFFFA8;
  --YellowOrange50D: #744D00;
  --DarkBlueGreen: #1C3F40;
  --DarkBlueGreen10D: #032627;
  --DarkBrown: #322516;
  --DarkBrown10L: #4C3F30;
  --DarkBrown10D: #190C00;
  --LighterOrange: #FFDC5E;
  --DarkRedBrown: #401F1C;
  --DarkRedBrown10D: #270603;
  --LightBlueGrey: #CFE6FF;
  --Sandal: #a08264;
  --Black60: #00000060;
