
<div class="row">
	<div class="col-md-12">
		<div>{{ article.prose|BBcode }}</div>
		{% if article.sidenotes %}
			<hr>
			<p>{{ article.sidenotes|BBcode }}</p>
		{% endif %}
		{% if article.footnotes %}<div class="user-css article-footnotes">{{ article.footnotes|BBcode }}</div>{% endif %}
		{% if  article.world.globalAnnouncement|length > 0 %}
			<div class="world-global-annnouncement">
				{{ article.world.globalAnnouncement|BBcode }}
			</div>
		{% endif %}
	</div>
</div>

<style>
	.article-content {
		font-size: 1.5em;
		line-height: 1.8em;
	}
</style>

